<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>custormerManager</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.servlet.ServletToBeanProxy</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>com.servlet.ServletToBeanProxy</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/registerServlet.do</url-pattern>
	</servlet-mapping>
</web-app>